<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<title th:text="${titulo}"></title>
</head>
<body>
	<h1 th:text="${titulo}"></h1>
	
	<span th:text="${usuario.nombre}"></span><br>
	<span th:text="${usuario.apellido}"></span>
	<br>
	<span th:text="${usuario.id.rol_idRol}"></span>
	<br>
	<span th:text="${usuario.rol.rol}"></span>

	<br>
	<span th:if="${usuario.id.email}" th:text="${usuario.id.email}"></span>
	<span th:if="${usuario.id.email == null}" th:text="'El usuario no tiene correo'"></span>
</body>
</html>